<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Thông tin tài khoản</h2>
                    <form id="loginUserForm" action="#">
                        <p>
                            Tên tài khoản
                        </p>
                        <input disabled id="accountName" type="email" placeholder="Tên tài khoản">
                        <p>
                            Email
                        </p>
                        <input disabled id="accountEmail" type="text" placeholder="Email">
                    </form>
                </div>
                <!--/login form-->
            </div>
        </div>
    </div>
</section>
<script src="js/user/account.js">

</script>