<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Đổi Mật Khẩu</h2>
                    <form id="loginUserForm" action="#">
                        <p>
                            Tên tài khoản
                        </p>
                        <input disabled id="accountEmail" type="email">
                        <p>
                            Mật khẩu cũ
                        </p>
                        <input id="passwordOld" type="password">
                        <p>
                            Mật khẩu mới
                        </p>
                        <input id="passwordNew" type="password">
                        <p>
                            Nhập Mật khẩu mới
                        </p>
                        <input id="rePasswordNew" type="password">

                        <button type="button" id="buttonChangePasswordUser">Đổi Mật Khẩu</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
        </div>
    </div>
</section>
<script src="js/user/changepassword.js">

</script>