<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Bước 1</h2>
			</div>
			<div class="checkout-options">
				<h3>Khách hàng mới</h3>
				<p>Tùy chọn thanh toán</p>
				<ul class="nav">
					<li>
						<label><input type="checkbox"> Đăng kí tài khoản</label>
					</li>
					<li>
						<label><input type="checkbox"> Thanh toán của khách</label>
					</li>
					<li>
						<a href=""><i class="fa fa-times"></i>Hủy</a>
					</li>
				</ul>
			</div><!--/checkout-options-->

			<div class="register-req">
				<p>Vui lòng sử dụng Đăng ký và Kiểm tra để dễ dàng truy cập vào lịch sử đơn đặt hàng của bạn hoặc sử dụng hình thức thanh toán với tư cách Khách</p>
			</div><!--/register-req-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Thông tin Shopper</p>
							<form>
								<input type="text" placeholder="Tên hiển thị">
								<input type="text" placeholder="Tên tài khoản">
								<input type="password" placeholder="Mật khẩu">
								<input type="password" placeholder="Nhập lại mật khẩu">
							</form>
							<a class="btn btn-primary" href="">Đường dẫn</a>
							<a class="btn btn-primary" href="">Tiếp tục</a>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Hoa đơn để</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Tên cty">
									<input type="text" placeholder="Địa chỉ email">
									<input type="text" placeholder="Tiêu đề">
									<input type="text" placeholder="Họ">
									<input type="text" placeholder="Đệm">
									<input type="text" placeholder="Tên">
									<input type="text" placeholder="Địa chỉ thứ 1">
									<input type="text" placeholder="Địa chỉ thứ 2">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="Mã Zip / Mã Bưu điện *">
									<select>
										<option>-- Country --</option>
										<option>Việt Nam</option>
						
									</select>
									<select>
										<option>-- Thành phố/ Tỉnh --</option>
										<option value="An Giang">An Giang</option>
										<option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
										<option value="Bắc Giang">Bắc Giang</option>
										<option value="Bắc Kạn">Bắc Kạn</option>
										<option value="Bạc Liêu">Bạc Liêu</option>
										<option value="Bắc Ninh">Bắc Ninh</option>
										<option value="Bến Tre">Bến Tre</option>
										<option value="Bình Định">Bình Định</option>
										<option value="Bình Dương">Bình Dương</option>
										<option value="Bình Phước">Bình Phước</option>
										<option value="Bình Thuận">Bình Thuận</option>
										<option value="Bình Thuận">Bình Thuận</option>
										<option value="Cà Mau">Cà Mau</option>
										<option value="Cao Bằng">Cao Bằng</option>
										<option value="Đắk Lắk">Đắk Lắk</option>
										<option value="Đắk Nông">Đắk Nông</option>
										<option value="Điện Biên">Điện Biên</option>
										<option value="Đồng Nai">Đồng Nai</option>
										<option value="Đồng Tháp">Đồng Tháp</option>
										<option value="Đồng Tháp">Đồng Tháp</option>
										<option value="Gia Lai">Gia Lai</option>
										<option value="Hà Giang">Hà Giang</option>
										<option value="Hà Nam">Hà Nam</option>
										<option value="Hà Tĩnh">Hà Tĩnh</option>
										<option value="Hải Dương">Hải Dương</option>
										<option value="Hậu Giang">Hậu Giang</option>
										<option value="Hòa Bình">Hòa Bình</option>
										<option value="Hưng Yên">Hưng Yên</option>
										<option value="Khánh Hòa">Khánh Hòa</option>
										<option value="Kiên Giang">Kiên Giang</option>
										<option value="Kon Tum">Kon Tum</option>
										<option value="Lai Châu">Lai Châu</option>
										<option value="Lâm Đồng">Lâm Đồng</option>
										<option value="Lạng Sơn">Lạng Sơn</option>
										<option value="Lào Cai">Lào Cai</option>
										<option value="Long An">Long An</option>
										<option value="Nam Định">Nam Định</option>
										<option value="Nghệ An">Nghệ An</option>
										<option value="Ninh Bình">Ninh Bình</option>
										<option value="Ninh Thuận">Ninh Thuận</option>
										<option value="Phú Thọ">Phú Thọ</option>
										<option value="Quảng Bình">Quảng Bình</option>
										<option value="Quảng Bình">Quảng Bình</option>
										<option value="Quảng Ngãi">Quảng Ngãi</option>
										<option value="Quảng Ninh">Quảng Ninh</option>
										<option value="Quảng Trị">Quảng Trị</option>
										<option value="Sóc Trăng">Sóc Trăng</option>
										<option value="Sơn La">Sơn La</option>
										<option value="Tây Ninh">Tây Ninh</option>
										<option value="Thái Bình">Thái Bình</option>
										<option value="Thái Nguyên">Thái Nguyên</option>
										<option value="Thanh Hóa">Thanh Hóa</option>
										<option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
										<option value="Tiền Giang">Tiền Giang</option>
										<option value="Trà Vinh">Trà Vinh</option>
										<option value="Tuyên Quang">Tuyên Quang</option>
										<option value="Vĩnh Long">Vĩnh Long</option>
										<option value="Vĩnh Phúc">Vĩnh Phúc</option>
										<option value="Yên Bái">Yên Bái</option>
										<option value="Phú Yên">Phú Yên</option>
										<option value="Tp.Cần Thơ">Tp.Cần Thơ</option>
										<option value="Tp.Đà Nẵng">Tp.Đà Nẵng</option>
										<option value="Tp.Hải Phòng">Tp.Hải Phòng</option>
										<option value="Tp.Hà Nội">Tp.Hà Nội</option>
										<option value="TP  HCM">TP HCM</option>
										
									</select>
									<input type="password" placeholder="Xác nhận mật khẩu">
									<input type="text" placeholder="Số điện thoại *">
						
									<input type="text" placeholder="Mã sô fax">
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea name="message" placeholder="Ghi chú về đơn đặt hàng của bạn, Ghi chú đặc biệt khi giao hàng" rows="16"></textarea>
							<label><input type="checkbox"> Vận chuyển đến địa chỉ thanh toán</label>
						</div>	
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Xem lại &amp; Thanh toán</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Sản phẩm</td>
							<td class="description"></td>
							<td class="price">Giá tiền</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>1.000.000 VND</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">1.000.000 VND</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/two.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>1.000.000 VND</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">1.000.000 VND</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/three.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>1.000.000 VND</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">1.000.000 VND</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tbody><tr>
										<td>Tổng số giỏ hàng</td>
										<td>1.000.000 VND</td>
									</tr>
									<tr>
										<td>Thuế</td>
										<td>100.000 VND</td>
									</tr>
									<tr class="shipping-cost">
										<td>Phí giao hàng</td>
										<td>Miễn phí</td>										
									</tr>
									<tr>
										<td>Tổng</td>
										<td><span>1.100.000 VND</span></td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Chuyển khoản trực tiếp</label>
					</span>
					<span>
						<label><input type="checkbox"> Nhận hàng thanh toán</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div>
	</section>