<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Đăng nhập vào tài khoản của bạn</h2>
					<form id="loginUserForm" action="#">
						<input id="loginEmail" type="email" placeholder="Địa chỉ email">
						<input id="loginPass" type="password" placeholder="Mật khẩu">
						<span>
							<input type="checkbox" class="checkbox">
							Giữ cho tôi đăng nhập
						</span>
						<button type="submit" class="btn btn-default">Đăng nhập</button>
						<a type="button" href="/forgotpassword">Quên Mật Khẩu</a>
					</form>
				</div>
				<!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">Hoặc</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form">
					<!--sign up form-->
					<h2>Đăng ký người dùng mới!</h2>
					<form id="registerUserForm" action="#">
						<input id="registerEmail" type="email" placeholder="Địa chỉ email">
						<input id="registerName" type="text" placeholder="Tên">		
						<input id="registerPhone" type="text" placeholder="Số Điện Thoại">
						<input id="registerAddress" type="text" placeholder="Địa Chỉ">				
						<input id="registerPass" type="password" placeholder="Mật khẩu">
						<input id="registerReInputPass" type="password" placeholder="Nhập Lại Mật khẩu">
						<button type="submit" class="btn btn-default">Đăng ký</button>
					</form>
				</div>
				<!--/sign up form-->
			</div>
		</div>
	</div>
</section>
<script src="js/user/auth.js">

</script>