<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Chào mừng đến quản lý ESHOP</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tổng quan</span></a>
    </li>


       <!-- Heading -->
            <div class="sidebar-heading">
                Quản lý doanh thu
            </div>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/revenueReport">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Báo cáo doanh thu</span></a>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Công cụ
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Trang</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Màn hình đăng nhập:</h6>
                        <a class="collapse-item" href="/admin/login">Đăng nhập</a>
                        <a class="collapse-item" href="/admin/register">Đăng kí</a>
                        <a class="collapse-item" href="/forgotPassword">Quên mật khẩu</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý cửa hàng
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/product">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Danh sách sản phẩm</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/product/create">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thêm sản phẩm</span></a>
    </li>

    <hr class="sidebar-divider">


    <div class="sidebar-heading">
        Quản lý đơn hàng
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/order">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Danh sách đơn hàng</span></a>
    </li>
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý người dùng
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/admin/client">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Danh sách người dùng</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


    <!-- Sidebar Message -->


</ul>